<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->
    <link href="https://fonts.googleapis.com/css?family=Hind|Montserrat" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="titleDiv">
        <h1>Sample Address Book</h1>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title titleText">
                        Add A Contact
                    </div>
                </div>
                <div class="panel-body">
                    <form action="/" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" name="email" placeholder="banana@email.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="contact">Contact No:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="contact" name="contact" placeholder="1234567">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="address">Address:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="address" name="address" placeholder="#1 Sponge St. Bob City" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="btnSave">Save Contact</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title titleText">
                        Contact List
                    </div>
                </div>
                <div class="panel-body infoDiv">
                <center>All information is pulled from MongoDB</center>
                </div>
                <ul class="list-group">
                    <% for(var i = 0; i < person.length; i++) { %>
                        <li class="list-group-item" style="padding:0;">
                            <div style="padding: 15px;">
                                <div class="closeButton">
                                    <form action="/del" method="post">
                                        <button type="submit" id="">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <input type="hidden" name="delID" value="<%= person[i]._id %>"/>
                                    </form>
                                </div>
                                <div class="editButton">
                                    <form action="/edit" method="post">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <input type="hidden" name="editID" value="<%= person[i]._id %>"/>
                                    </form>
                                </div>
                                <p><strong>Name:</strong> <%= person[i].name %></p>
                                <p><strong>Email:</strong> <%= person[i].email %></p>
                                <p><strong>Contact No:</strong> <%= person[i].contact %></p>
                                <p><strong>Address:</strong> <%= person[i].address %></p>
                            </div>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>